$fontRethinkM: "RethinkSans-Medium", sans-serif;
$fontRethinkR: "RethinkSans-Regular", sans-serif;
$fontCormorantR: "Cormorant-Regular", sans-serif;
$fontRobotoR:  "Roboto-Regular", sans-serif;
$font-Medium:500;
$font-Regular:400;